.App {
  text-align: center;
  background-image: "url(" + "bookstore.jpg" + ")";
  height: 800px;
  background-size: cover;
  
}

.hv-center {
  
  display: flex;
  justify-content: center;
  align-items: center;
}