body {
 
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("bookstore.jpg");
    
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: none;

}
  h1,
  h2,
  h3{
    margin: 0.5rem 0;
  }
  h1{
    font-size:2.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(94, 6, 6)
  }
  h2{
    font-size: 2rem;
  }
  h3{
    font-size: 1.5rem;
  }
  a{
    text-decoration: none;
  }

  .nav{
    flex-direction:column;
    line-height:30px;
  }
  

 .row{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
   
  }
 
 
  .container{
    
    flex-wrap: wrap;
    width: 100%;
    height:600px;
    background-color:transparent;
    justify-content:center;
  }
  /* for login, register & profile*/
  .small-container{
    display:inline-flex;
    border-style: dotted;
    width: 50%;
    /* margin-top: 30px;
    margin-bottom: 30px; */
    padding-top:10px;
    padding-bottom:20px;
    height:300px;
    justify-content: center;
    background-color:rgb(193, 211, 211);
    align-items: center;
  }
  
/*display for books & selected books on the main page*/
  .bookclass{
    display:flex;
    border-style:dotted;
    border-width:thick;
    border-color:green yellow;
    width: 40%;
    padding-top:15px;
    /* margin-top: 10px;
    margin-bottom: 40px; */
    margin-left: 40px;
    justify-content: space-evenly;
    position: relative;
    vertical-align: middle;
    background-color: rgb(233, 230, 225);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .subtitles{
    justify-content:flex-start;
    flex-direction: column;
    float: left;
  }
  .col-1{
    flex: 1;
  }
  

  .col-2{
    flex: 2;
  }
  .block{
    background-color:rgba(48, 179, 184, 0.671);
    padding:1rem;
    margin:0.5rem;
    
    border-radius: 0.5rem;
  }

  .row.center{
    flex: 3;
    align-items: center;
  }

  img.small{
    max-height: 8rem;;
  }
  /* .profile{
    background-color: aquamarine;
    display: 'flex';
    
  } */

button{
  font-size:0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  background-color: rgb(123, 139, 182);
  color:#ffff;
  width:50%;
  cursor: pointer;
}



.footer{
  position: fixed;
  height: 300px;
  width: 100%;
  background-color:rgb(107, 88, 63);
}
 